h1{
    text-align: center;
    background-color: #4e7de0;
    color:white;
    padding: 10px;
    margin: 0px;
}

.searchBarInput{
    background-color:#1a357c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.weatherApp{
    color:white
}

.resizedTextBox{
    width: 205px; 
    height: 30px;
    text-align: center;
}

.resizedSearchButton{
    height: 30px; 
}

.resizedDegreeButton{
    height: 30px;
}

.weatherStatusSpan{
    width: 650px;
    height: 250px;
    background-color: #543e8b;
    border-radius: 10px;
    margin:10px;
}